Lenguaje de marcas/Ejercicio1.dtd

<!ELEMENT estudiantes (estudiante+)>
<!ELEMENT estudiante (dni, nombre, apellido, telefono, fechaNacimiento, nacionalidad, direccion, correo, curso, esRepetidor)>
<!ELEMENT dni (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT fechaNacimiento (#PCDATA)>
<!ELEMENT nacionalidad (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT correo (#PCDATA)>
<!ELEMENT curso (#PCDATA)>
<!ELEMENT esRepetidor (#PCDATA)>
